body {
    background-color: lightgrey;
}

h1, h2, p {
    color: rgb(40, 0, 92);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
    text-align: center;
    font-size: 70px;
}

#horror {
    width: 95%;
    height: 95%;
    position: relative;
    left: 40px;
}

.stars img {
    height: 4.5%;
    width: 4.5%;
}

#s1 {
    position: relative;
    bottom: 590px;
    left: 420px;
}

#s2 {
    position: relative;
    bottom: 850px;
    left: 580px;
}

#s3 {
    position: relative;
    bottom: 805px;
    left: 735px;
}

#s4 {
    position: relative;
    bottom: 405px;
    left: 615px;
}

#s5 {
    position: relative;
    bottom: 477px;
    left: 793px;
}

#s6 {
    position: relative;
    bottom: 605px;
    left: 845px;
}

#s7 {
    position: relative;
    bottom: 327px;
    left: 733px;
}

#s8 {
    position: relative;
    bottom: 258px;
    left: 150px;
}

#starreset {
    position: relative;
    bottom: 50px;
    left: 730px;
    width: 300px;
    background-color: rgb(40, 0, 92);
    color: lightgrey;
    text-align: center;
    padding: 15px;
    font-size: xx-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}

.minigame {
    position: absolute;
    left: 400px;
}

.happening {
    position: absolute;
    left: 1130px;
}

.des {
    width: 80%;
    position: relative;
    top: 400px;
    left: 180px;
}

.des p {
    font-size: large;
}

.des h2 {
    text-align: center;
    font-size: xx-large;
}