body {
    background-color: rgb(193, 240, 193);
}

h1, h2, p {
    color: rgb(0, 49, 0);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
    text-align: center;
    font-size: 70px;
}

#woodywoods {
    width: 95%;
    height: 95%;
    position: relative;
    left: 40px;
}

.stars img {
    height: 4.5%;
    width: 4.5%;
}

#s1 {
    position: relative;
    bottom: 425px;
    left: 255px;
}

#s2 {
    position: relative;
    bottom: 560px;
    left: 340px;
}

#s3 {
    position: relative;
    bottom: 845px;
    left: 450px;
}

#s4 {
    position: relative;
    bottom: 690px;
    left: 875px;
}

#s5 {
    position: relative;
    bottom: 495px;
    left: 910px;
}

#s6 {
    position: relative;
    bottom: 345px;
    left: 960px;
}

#s7 {
    position: relative;
    bottom: 245px;
    left: 740px;
}

#s8 {
    position: relative;
    bottom: 382px;
    left: 390px;
}

#s9 {
    position: relative;
    bottom: 285px;
    right: 20px;
}

#s10 {
    position: relative;
    bottom: 125px;
    right: 125px;
}

#starreset {
    position: relative;
    bottom: 50px;
    left: 730px;
    width: 300px;
    background-color: rgb(0, 49, 0);
    color: rgb(193, 240, 193);
    text-align: center;
    padding: 15px;
    font-size: xx-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}

.minigame {
    position: absolute;
    left: 400px;
}

.happening {
    position: absolute;
    left: 1130px;
}

.des {
    width: 80%;
    position: relative;
    top: 400px;
    left: 180px;
}

.des p {
    font-size: large;
}

.des h2 {
    text-align: center;
    font-size: xx-large;
}