body {
    background-color: rgb(251, 245, 211);
}

h1, h2, p {
    color: rgb(0, 0, 82);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
    text-align: center;
    font-size: 70px;
}

#island {
    width: 95%;
    height: 95%;
    position: relative;
    left: 40px;
}

.minigame {
    position: absolute;
    left: 400px;
}

.happening {
    position: absolute;
    left: 1130px;
}

.des {
    width: 80%;
    position: relative;
    top: 400px;
    left: 180px;
}

.des p {
    font-size: large;
}

.des h2 {
    text-align: center;
    font-size: xx-large;
}