body {
    background-color: rgb(232, 202, 246);
}

#single {
    position: relative;
    left: 720px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: xx-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}

#mush {
    position: relative;
    left: 695px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: xx-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}

#double {
    position: relative;
    left: 722px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: xx-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}

#triple {
    position: relative;
    left: 730px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: xx-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}

#curse {
    position: relative;
    left: 730px;
    background-color: rgb(52, 0, 110);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: xx-large;
    border-radius: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
}

p {
    position: relative;
    left: 115px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 25px;
    text-align: center;
    width: 86%;
}

h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 55px;
    text-align: center;
}

h2 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 25px;
    position: relative;
    left: 800px;
}